<a href="https://colab.research.google.com/github/ashwinsaba/CAI-Development/blob/master/TiPlace_API_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extracting Questions Database from Ti-Place

##Obtaining list of all Object IDs

In [123]:
import xml.etree.cElementTree as et
import pandas as pd
import urllib.request as urllib2

obj_tree = et.ElementTree(file=urllib2.urlopen('http://api.seescp.com/webservice/xml/taxonomy/list.tsty?svcid=tiplace'))
obj_root = obj_tree.getroot()

obj_data = []
for el in obj_tree.iterfind('.//*'):
    for i in el.iterfind('*'):
        obj_data.append(dict(i.items()))

obj_df = pd.DataFrame(obj_data)
obj_df

       code     id                     text tooltip weight
0         1  61332                      큰 수     dea    NaN
1         2  61366                  곱셈과 나눗셈     dea    NaN
2         3  61400                       각도     dea    NaN
3         4  61427                      삼각형     dea    NaN
4         5  61449                     혼합계산     dea    NaN
5         6  61474                       분수     dea    NaN
6         7  61494                       소수     dea    NaN
7         8  61521                    규칙 찾기     dea    NaN
8        11  61333                      큰 수    jung    NaN
9       111  61334                        만      so    NaN
10      112  61336                    다섯자릿수      so    NaN
11      113  61340               십만, 백만, 천만      so    NaN
12      114  61345                     억, 조      so    NaN
13      115  61354              큰 수를 뛰어서 세기      so    NaN
14      116  61358               두 수의 크기 비교      so    NaN
15      117  61362                   문제해결하기      so    NaN
16     1111  61335               10000 알아보기     you      3
17     1121  61337              다섯자릿수 읽고 쓰기     you      3
18     1122  61338               다섯자릿수의 자릿값     you      3
19     1123  61339           다섯자릿수를 활용한 문장제     you      2
20     1131  61341  십만, 백만, 천만단위까지의 수 읽고 쓰기     you      3
21     1132  61342          천만 단위까지의 수의 자릿값     you      3
22     1133  61343  천만 단위까지의 수의 몇 배 관계 이해하기     you      3
23     1134  61344        천만 단위의 수를 활용한 문장제     you      4
24     1141  61346          억 단위까지의 수 쓰고 읽기     you      3
25     1142  61347           억 단위까지의 수의 자릿값     you      3
26     1143  61348       억 단위까지의 수를 활용한 문장제     you      3
27     1144  61349          조 단위까지의 수 쓰고 읽기     you      3
28     1145  61350           조 단위까지의 수의 자릿값     you      3
29     1146  61351   조 단위까지의 수의 몇 배 관계 이해하기     you      3
...     ...    ...                      ...     ...    ...
5917    613  84319           사각형 안에 숫자 배열하기      so    NaN
5918    614  84321             종이접기, 도형 나누기      so    NaN
5919    615  84326     선분으로 모양 만들기, 간단한 각도기      so    NaN
5920    616  84329             팬파이프, 문제 만들기      so    NaN
5921   6111  84301         소수를 분수로 고쳐서 계산하기     you      3
5922   6112  84302         분수를 소수로 고쳐서 계산하기     you      3
5923   6113  84303        소수로 나누어떨어지지 않는 계산     you      3
5924   6114  84304             몫을 어림하여 나타내기     you      3
5925   6115  84305             계산 결과의 크기 비교     you      3
5926   6116  84306      어떤 수, 바르게 계산한 값 구하기     you      3
5927   6117  84307          분수와 소수의 나눗셈의 활용     you      3
5928   6121  84309                 혼합 계산 순서     you      3
5929   6122  84310             셈이 2개인 혼합 계산     you      3
5930   6123  84311             셈이 3개인 혼합 계산     you      3
5931   6124  84312             셈이 4개인 혼합 계산     you      3
5932   6125  84313         두 식의 값의 합(차) 구하기     you      3
5933   6126  84314             계산 결과의 크기 비교     you      3
5934   6127  84315   계산 결과가 같을 때 큰(작은) 수 찾기     you      3
5935   6128  84316      □의 값, 바르게 계산한 값 구하기     you      3
5936   6129  84317        분수와 소수의 혼합 계산의 활용     you      3
5937  61210  84318           도형의 길이, 넓이 구하기     you      3
5938   6131  84320           사각형 안에 숫자 배열하기     you      3
5939   6141  84322                     종이접기     you      3
5940   6143  84324         도형을 똑같은 모양으로 나누기     you      3
5941   6144  84325        도형을 나누어 다른 도형 만들기     you      3
5942   6151  84327              선분으로 모양 만들기     you      3
5943   6152  84328                  간단한 각도기     you      3
5944   6161  84330                 팬파이프 만들기     you      3
5945   6163  84332           규칙과 관련된 문제 만들기     you      3
5946   6164  84333           도형과 관련된 문제 만들기     you      3

[5947 rows x 5 columns]

##Obtaining questions for one Object ID as a table - testing

In [202]:
q_tree = et.ElementTree(file=urllib2.urlopen('http://api.seescp.com/webservice/tplace/read.tsty?svcid=tiplace&objId=61334'))
q_root = q_tree.getroot()

tags=[]
texts=[]
attribs=[]

for elem in q_root.iter():
  tags.append(elem.tag)
  texts.append(elem.text)
  attribs.append(elem.attrib)
  
q_df = pd.DataFrame({"TAG": tags, "TEXT": texts, "ATTRIBUTE": attribs})
q_df = q_df[q_df.TAG != 'activityElement']
q_df['ATTRIBUTE'] =  q_df['ATTRIBUTE'].map(lambda x: str(x)[:-2])
q_df['ATTRIBUTE'] =  q_df['ATTRIBUTE'].map(lambda x: str(x)[8:])
q_df['ATTRIBUTE']=q_df.ATTRIBUTE.str.strip()
q_df['ATTRIBUTE']=pd.to_numeric(q_df.ATTRIBUTE)
q_df['ATTRIBUTE_RANK'] = q_df['ATTRIBUTE'].rank()
q_df = q_df.fillna('')
q_df['ATTRIBUTE_RANK'] =  q_df['ATTRIBUTE_RANK'].map(lambda x: str(x)[:-2])
q_df.ATTRIBUTE = q_df.ATTRIBUTE_RANK.astype(str)
q_df['ATTRIBUTE_TAG']=q_df.apply(lambda x:'%s%s' % (x['TAG'],x['ATTRIBUTE_RANK']),axis=1)
q_df=q_df.drop(['ATTRIBUTE','TAG','ATTRIBUTE_RANK'],axis=1)
q_df_transposed=q_df.set_index('ATTRIBUTE_TAG').T

q_df_transposed.dtypes

ATTRIBUTE_TAG
testItemList        object
code                object
totalcount          object
testItem            object
objid               object
title               object
score               object
weight              object
taxonomy            object
node1               object
node2               object
node3               object
node4               object
node5               object
previewImage        object
meta                object
learningStrategy    object
itemStrategy        object
itemDifficulty      object
itemdifficulty9     object
itemdifficulty5     object
itemType            object
isOnline            object
istexerror          object
activityElements    object
dtype: object

In [199]:
q_tree = et.ElementTree(file=urllib2.urlopen('http://api.seescp.com/webservice/tplace/read.tsty?svcid=tiplace&objId=61521'))
q_root = q_tree.getroot()

tags=[]
texts=[]
attribs=[]

for elem in q_root.iter():
  tags.append(elem.tag)
  texts.append(elem.text)
  attribs.append(elem.attrib)
  
q_df = pd.DataFrame({"TAG": tags, "TEXT": texts, "ATTRIBUTE": attribs})
q_df = q_df[q_df.TAG != 'activityElement']
q_df['ATTRIBUTE'] =  q_df['ATTRIBUTE'].map(lambda x: str(x)[:-2])
q_df['ATTRIBUTE'] =  q_df['ATTRIBUTE'].map(lambda x: str(x)[8:])
q_df['ATTRIBUTE']=q_df.ATTRIBUTE.str.strip()
q_df['ATTRIBUTE']=pd.to_numeric(q_df.ATTRIBUTE)
q_df['ATTRIBUTE_RANK'] = q_df['ATTRIBUTE'].rank()
q_df = q_df.fillna('')
q_df['ATTRIBUTE_RANK'] =  q_df['ATTRIBUTE_RANK'].map(lambda x: str(x)[:-2])
q_df.ATTRIBUTE = q_df.ATTRIBUTE_RANK.astype(str)
q_df['ATTRIBUTE_TAG']=q_df.apply(lambda x:'%s%s' % (x['TAG'],x['ATTRIBUTE_RANK']),axis=1)
q_df=q_df.drop(['ATTRIBUTE','TAG','ATTRIBUTE_RANK'],axis=1)
q_df_transposed=q_df.set_index('ATTRIBUTE_TAG').T

q_df_transposed

ATTRIBUTE_TAG testItemList code totalcount
TEXT                  \n\t  200          0

In [201]:
len(q_root)

2

##Obtaining questions for one Object ID as a table - testing

In [0]:
small_obj = obj_df.head(10)
master_q_df = pd.DataFrame(columns=['testItemList','code','totalcount','testItem','objid','title','score','weight','taxonomy','node1','node2','node3','node4','node5',
                                    'node6','previewImage','meta','learningStrategy','itemStrategy','itemDifficulty','itemdifficulty9','itemdifficulty5','itemType',
                                    'isOnline','istexerror','activityElements']) 

for item in small_obj['id']:
  url='http://api.seescp.com/webservice/tplace/read.tsty?svcid=tiplace&objId=' + item
  q_tree = et.ElementTree(file=urllib2.urlopen(url))
  q_root = q_tree.getroot()
  
  if len(q_root) > 2:
    tags=[]
    texts=[]
    attribs=[]
    
    for elem in q_root.iter():
      tags.append(elem.tag)
      texts.append(elem.text)
      attribs.append(elem.attrib)
      q_df = pd.DataFrame({"TAG": tags, "TEXT": texts, "ATTRIBUTE": attribs})
      q_df = q_df[q_df.TAG != 'activityElement']
      q_df['ATTRIBUTE'] =  q_df['ATTRIBUTE'].map(lambda x: str(x)[:-2])
      q_df['ATTRIBUTE'] =  q_df['ATTRIBUTE'].map(lambda x: str(x)[8:])
      q_df['ATTRIBUTE']=q_df.ATTRIBUTE.str.strip()
      q_df['ATTRIBUTE']=pd.to_numeric(q_df.ATTRIBUTE)
      q_df['ATTRIBUTE_RANK'] = q_df['ATTRIBUTE'].rank()
      q_df = q_df.fillna('')
      q_df['ATTRIBUTE_RANK'] =  q_df['ATTRIBUTE_RANK'].map(lambda x: str(x)[:-2])
      q_df.ATTRIBUTE = q_df.ATTRIBUTE_RANK.astype(str)
      q_df['ATTRIBUTE_TAG']=q_df.apply(lambda x:'%s%s' % (x['TAG'],x['ATTRIBUTE_RANK']),axis=1)
      q_df=q_df.drop(['ATTRIBUTE','TAG','ATTRIBUTE_RANK'],axis=1)
      q_df_transposed=q_df.set_index('ATTRIBUTE_TAG').T
      master_q_df=master_q_df.merge(q_df_transposed, on=None, how='outer')

In [0]:
from google.colab import files

master_q_df.to_csv('df.csv')
files.download('df.csv')